@import "index.less";

/* Header */

.header {
  background-color: @background;
  border-bottom: 1px solid @background;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  height: 50px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;

  &__navbar {
    height: 100%;
  }

  &__logo {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    padding: 0 30px;
  }

  &__logo-icon {
    font-size: 1.6rem;
    font-weight: 700;
  }

  &__logo-text {
    font-size: 2.6rem;
    font-weight: 700;
    color: white;
  }
};

/* Main */
/* Todo Input */

.todo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 0 0 0;
    height: auto;
  }

  &__create {
      background-color: #04a278;
      border: 1px solid #04a278;
      border-radius: 5px;
      color: white;
      cursor: pointer;
      font-size: 1.2rem;
      font-weight: 700;
      height: 40px;
      margin: 10px 0 0 0;
      outline: none;
      padding: 0 20px;
      transition: all 0.3s ease-in-out;
      width: 100%;

      &:hover {
        background-color: white;
        border: 1px solid @background;
        color: @background;
      }
  }

  &__input {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    padding: 0 30px;
    margin-bottom: 20px;
  }

  &__input-text {
    width: 100%;
    height: 100%;
    border: transparent;
    outline: none;
    border-radius: 12px;
    font-size: 1.6rem;
    padding: 5px 10px;
    font-weight: 700;
    color: @text-primary;

    &::placeholder {
      color: @text-secondary;
    }

    &:focus {
      border: 1px solid #04a278;
      animation: scale 0.2s ease-in-out;
      animation-fill-mode: forwards;
      margin-right: 20px;
    }

    @keyframes scale {
      0% {
        transform: scale(1);
      }
      100% {
        transform: scale(1.05);
      }
    }
  }

  &__input-btn {
    background: #04a278;
    border: 1px solid #04a278;
    border-radius: 12px;
    width: 100px;
    height: 40px;
    color: #0df167;
    margin-left: 20px;
    cursor: pointer;

    &:hover {
      background: #0df167;
      color: #04a278;
      margin-left: 20px;
      border: 1px solid #0df167;
      animation: scale 0.2s ease-in-out;
      animation-fill-mode: forwards;
    }

    @keyframes scale {
      0% {
        transform: scale(1);
      }
      100% {
        transform: scale(1.3);
      }
    }
  }

  &__input-image {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  &__input-image-text {
    font-size: 1.6rem;
    font-weight: 700;
    color: aqua;
  }

  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    align-items: center;
    width: 100%;
    height: auto;
    margin: 30px 0 0 0;
    color: aqua;
  }

  &__item {
    background: rgb(4, 46, 72);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 12px;
    width: 500px;
    height: auto;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    padding: 20px 30px;
  }

  &__item-text-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  &__item-title {
    font-size: 2.6rem;
    font-weight: 700;
    color: aqua;
    margin-bottom: 10px;
  }

  &__item-description {
    font-size: 1.6rem;
    font-weight: 700;
    color: aqua;
    margin-bottom: 10px;
  }

  &__item-text-description {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
  }

  &__item-img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
    border-radius: 50%;
  }

  &__item-btn {
    margin: 10px;
  }
}

.delete, .complete, .edit {
  cursor: pointer;
  &:hover {
    color: #0df167;
    animation: scale 0.2s ease-in-out;
    animation-fill-mode: forwards;
  }
}

.create-todo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 600px;
  height: auto;
  backdrop-filter: blur(10px);
  padding: 48px;
  gap: 16px;
  isolation: isolate;
  position: relative;
  max-height: 680px;
  left: 0;
  right: 0;
  margin: auto;
  background: #FFFFFF;
  border-radius: 24px;

    &__title {
        font-size: 2.6rem;
        font-weight: 700;
        color: aqua;
        margin-bottom: 10px;
    }

    &__form-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        margin-bottom: 10px;
    }

    &__form-input {
        width: 100%;
        height: 100%;
        border: transparent;
        outline: none;
        border-radius: 12px;
        font-size: 1.6rem;
        padding: 5px 10px;
        font-weight: 700;
        color: @text-primary;

      &::placeholder {
        color: @text-secondary;
      }

      &:focus {
        border: 1px solid #04a278;
        animation: scale 0.2s ease-in-out;
        animation-fill-mode: forwards;
        margin-right: 20px;
      }

    @keyframes scale {
            0% {
              transform: scale(1);
            }
            100% {
              transform: scale(1.05);
            }
          }
    }

    &__form-btn {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 50px;
        padding: 0 30px;
        margin-bottom: 20px;

      &:hover {
        background: #0df167;
        color: #04a278;
        margin-left: 20px;
        border: 1px solid #0df167;
        animation: scale 0.2s ease-in-out;
        animation-fill-mode: forwards;
      }
    }
}




